/**大桌面显示布局样式**/

/*大桌面显示器屏宽度度大于等于992小于1200*/
@media screen and (min-width:992px) and (max-width:1200px) {
	/**推荐屏幕宽度960**/
	/*电影搜索区*/
	body>header>section {
		width: 960px;
	}
	body>header>section>aside {
		width: 16%;
	}
	body>header>section>section {
		width: 84%;
	}
	body>header>section>section>#search {
		width: 300px;
	}
	body>header>section>section>#button {
		width: 100px;
	}

	/*登陆区*/
	body>section>section {
		width: 960px;
	}
}