/**平板显示布局样式**/

/*[平板端]显示器宽度大于等于576小于768，相当于平板电脑大小的设备*/
@media screen and (min-width:576px) and (max-width:768px) {
	/**推荐屏幕宽度540**/
	body>section>section {
		width: 100%;
		height: 420px;
	}
	body>footer {
		width: 100%;
		height: 740px;
		margin: 0px auto;
		overflow: hidden;
	}
	body>section>section>section {
		width: 100%;
		height: 390px;
		float: left;
	}
	body>section>section>aside {
		width: 100%;
		height: 200px;
		float: left;
	}
	body>header>section>section>#search {
		width: 220px;
	}
	body>header>section>section>#button {
		width: 70px;
	}
}
/*侧边栏：相关推荐*/
@media screen and (min-width:576px) and (max-width:768px) {
	body>section>section>aside>ul {
		display: flex;
		flex-direction: row;
		width: 165%
	}
	body>section>section>aside>ul>li {
		margin: 12px auto;
	}
	body>section>section>aside>ul>li>img {
		width: 162px;
		height: 110px;
		display: block;
		margin: 0px auto;
	}
	body>section>section>aside>ul>li>span {
		width: 162px;
		height: 20px;
		display: block;
		margin: 0px auto;
	}
	body>section>section>aside>div:first-child {
		display: block;
	}
}
/*底栏:热门推荐*/
@media screen and (min-width:576px) and (max-width:768px) {
	body>footer>div {
		width: 165%;
		height: 180px;
	}
	body>footer>div>ul {
		display: flex;
		flex-direction: row;
	}
	body>footer>div>ul>li {
		flex-basis: 162px;
		margin: 12px auto;
	}
	body>footer>div>ul>li>img {
		width: 162px;
		height: 99px;
		display: block;
		margin: 0px auto;
	}
	body>footer>div>ul>li>span {
		width: 162px;
		height: 20px;
		display: block;
		margin: 0px auto;
	}
}