/**皮肤样式文件[green]系列**/
/*登陆页面背景*/
body {
	background-color: #262626;
}
/*搜索栏背景*/
body>header {
	background-color: #1c1c1c;
}
/*搜索栏的Logo字体颜色*/
body>header>section>aside {
	color: #3f7acc;
}
/*电影搜索区*/
body>header>section>section>#button {
	border: 0px;
	background-color: #3f7acc;
}
/*登陆*/
body>section>section>section>form>table {
	color: #ffffff;
}

body>section>section>section>form>table a {
	color: #ffffff;
}

body>section>section>section>form>table button {
	border: 1px solid #ffffff;
	background-color: #3f7acc;
}

body>section>section>section>form>table input {
	border: 1px solid #ffffff;
}
/*表格第一行*/
body>section>section>section>form>table tr:first-child td span:nth-child(1)
	{
	color: #3f7acc;
}

body>section>section>section>form>table tr:first-child td span:nth-child(2)
	{
	color: #3f7acc;
}

body>section>section>section>form>table tr:first-child td span:nth-child(3)
	{
	color: #3f7acc;
}